@import "tailwindcss";
@custom-variant dark (&:is(.dark *)); /* Baris ajaib agar tombol kita berfungsi */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Mengubah variabel warna dasar saat class .dark aktif */
.dark {
  --background: #111827; /* Warna abu-abu gelap khas mode malam */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}